<div class="container col-md-6 mt-10 mb-3 card bg-light" id="toy-container">
    <form action="/figure/add" method="post">
        <h1 class="text text-danger text-center text-uppercase mt-3">Add new figure</h1>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Brand</label>
            <input class="form-control" type="text" name="brand" required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Name</label>
            <input class="form-control" type="text" name="name" required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Price</label>
            <input class="form-control" type="number" name="price" required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Date</label>
            <input class="form-control" type="date" name="date" required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Quanity</label>
            <input class="form-control" type="number" name="quantity" required>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Color</label>
            <select class="form-control" name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="purple">Purple</option>
                <option value="white">White</option>
                <option value="black">Black</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="h5 text text-success" for="">Image URL</label>
            <input class="form-control" type="text" name="image" required>
        </div>
        <div class="form-group text-center mt-3">
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
        <div class="form-group text-center mb-3">
            <a href="/">Back</a>
        </div>
    </form>
</div>